@using MicrosoftDocs.Client.Models
<ul class="@($"page-header-list {Class}")">
    @if(CheckboxId is not null)
    {
        <li class="page-header-list__label-item">
            <label for="@CheckboxId" class="@(IsSubList ? "bi bi-arrow-left clickable" : "")">Back</label>
        </li>
    }
    @if(Title is not null)
    {
        <li class="page-header-list__title-item">
            <span>@Title</span>
        </li>
    }

    @if(Items is not null)
    {
        @foreach(var item in Items)
        {
            <PageHeaderListItem Label="@item.Label" Items="item.Items" Href="@item.Href"/>
        }
    }

    @ChildContent
</ul>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? CheckboxId { get; set; }

    [Parameter]
    public bool IsSubList { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public List<PageHeaderItemModel>? Items { get; set; }
}
