@using MicrosoftDocs.Client.Models
<ul class="@($"titled-list with-shadow { Class }")">
    <li>
        @if(Href is not null)
        {
            <NavLink href="@Href" class="link">
                @Title
            </NavLink>
        }
        else
        {
            @Title
        }
    </li>

    @foreach(var item in Items)
    {
        <TitledListItem Class="@item.Class" IconClass="@item.IconClass" Href="@item.Href" Text="@item.Text"/>
    }

    @ChildContent
</ul>

    @code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public List<TitledListItemModel> Items { get; set; } = new();

}
