<form class="@Class custom-form focusable">
    @if (!IsMultiLine)
    {
        <input @bind-value="@Value" class="custom-form__input @InputClass"
                    Placeholder="@Placeholder" />
    }
    else
    {
        <textarea @onchange="e => e.Value = Value" 
                    class="custom-form__input @InputClass"
                    placeholder="@Placeholder">
            @Value
        </textarea>
    }
</form>
@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string InputClass { get; set; } = "";

    [Parameter]
    public string Value { get; set; } = "";

    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public bool IsMultiLine { get; set; }
}
