<li class="@($"tutorial-item { Class } with-shadow")">
    <div class="tutorial-item__img-box">
        <img src="@ImageUrl"/>
    </div>

    <div class="tutorial-item__content">
        <span class="tutorial-item__content__sub-title">@SubTitle</span>
        <h6 class="tutorial-item__content__title">
            <NavLink class="@("link" + (Href.StartsWith('/') ? "" : " outer-link"))" href="@Href">
                @ChildContent
            </NavLink>
        </h6>
    </div>
</li>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string SubTitle { get; set; } = "";

    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public string ImageUrl { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
