@using MicrosoftDocs.Client.Models
@using MicrosoftDocs.Client.Shared.BreadcrumbsComponent;
@using MicrosoftDocs.Client.Shared.ContributorsDialogComponent
@using MicrosoftDocs.Client.Shared.MenuCompenent;
@using MicrosoftDocs.Client.Shared.SocialListComponent;



<div class="article-body @Class">
    <header class="article-body__header">
        <Breadcrumbs Items="@Path"/>
        <div class="article-body__header__toolbar">
            <MudIcon Icon="@Icons.Filled.AddCircleOutline" Class="menu-button"/>
            <MudIcon Icon="@Icons.Filled.Feedback" Class="menu-button"/>
            <MudIcon Icon="@Icons.Filled.Edit" Class="menu-button"/>
            <Menu ContentClass="menu-content">
                <Button>
                    <MudIcon Icon="@Icons.Filled.MoreVert" Class="menu-button"/>
                </Button>
                <ChildContent>
                    <SocialList>
                        <SocialListItem>
                            <Icon>
                                <MudIcon Icon="@Icons.Custom.Brands.GitHub"/>
                            </Icon>
                            <ChildContent>
                                Twitter
                            </ChildContent>
                        </SocialListItem>
                        <SocialListItem>
                            <Icon>
                                <MudIcon Icon="@Icons.Custom.Brands.GitHub"/>
                            </Icon>
                            <ChildContent>
                                Github
                            </ChildContent>
                        </SocialListItem>
                        <SocialListItem>
                            <Icon>
                                <MudIcon Icon="@Icons.Custom.Brands.Facebook"/>
                            </Icon>
                            <ChildContent>
                                Facebook
                            </ChildContent>
                        </SocialListItem>
                        <SocialListItem>
                            <Icon>
                                <MudIcon Icon="@Icons.Custom.Brands.Google"/>
                            </Icon>
                            <ChildContent>
                                Google
                            </ChildContent>
                        </SocialListItem>
                    </SocialList>
                </ChildContent>
            </Menu>
        </div>
    </header>

    <div class="article-body__content">
        <h1 class="article-body__content__title">@Title</h1>

        <div class="article-body__content__info-box">
            <div class="left-box">
                <span class="">Article</span>
                <span class="">@PublishTime.ToShortDateString()</span>
                <span class="">@ReadingTime minutes to read</span>
                <label for="@checkboxId" class="contributors-label link">19 contributors</label>
            </div>
            <div class="right-box">
                <Menu>
                    <Button>
                        <MudIcon Icon="@Icons.Filled.ThumbsUpDown" />
                    </Button>
                    <ChildContent>
                        <FeedbackMenuContent />
                    </ChildContent>
                </Menu>
            </div>
        </div>

        <div>@((MarkupString)Content)</div>
    </div>

    <ContributorsDialog Contributors="Contributors" CheckboxId="@checkboxId"/>
</div>

@code {
    private string checkboxId = "contributors-label";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public Dictionary<string, string> Path { get; set; } = new();

    [Parameter]
    public List<ContributorItemModel> Contributors { get; set; } = new();

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public DateTime PublishTime { get; set; }

    [Parameter]
    public int ReadingTime { get; set; }

    [Parameter]
    public string Content { get; set; } = "";

    [Parameter]
    public bool? Liked { get; set; }


}





